.vertical {
  border-left: 4px solid skyblue;
  height:30px;
  margin-left: 60px;
  margin-bottom: 10px;
  /* position:absolute; */
  /* color: aqua; */
  left: 50%;
}
.text{
 color: white;


}
.box{
  background-image: linear-gradient(to right, rgb(0, 38, 77),rgb(0, 82, 162), rgb(30, 144, 255));
}
.c{
  min-height: 120px;

}
.d{
  width: 500px;
}